@model IMine.Models.FolderModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var f_id = ViewBag.F_id ;
    var folder = ViewBag.folder as List<IMine.Models.Album>;
}

<head>
    
    <style>
        .imgUpload {
            max-height: 60px;
            max-width: 50px;
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);
            border-radius: 50%;
        }

            .imgUpload:active {
                opacity: 0.5;
                box-shadow: none;
            }

        .folder:hover {
            cursor: pointer;
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);
        }

        .I-image {
            -webkit-transition: margin 0.2s ease-out;
            -moz-transition: margin 0.2s ease-out;
            -o-transition: margin 0.2s ease-out;
        }

            .I-image:hover {
                cursor: pointer;
                margin-top: -8px;
            }
    </style>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>

        function myFunction() {
            $("#dialog-message").dialog("open");
        }


        $(function () {

            $('.folder').click(function () {
                var fid = $(this).data('folder');
                alert(fid);
                $.ajax({
                    url: "/Folder/" + fid,
                    type: 'POST',
                    success: function () {
                        alert("success");
                        $('#F_load').load('@Url.Content("abc")');
                    }
                });
            });

        });

    </script>

</head>

<div id="F_load">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Thư mục mới</h4>
                </div>

                @using (Html.BeginForm("CreateFolder", "Home", FormMethod.Post))
            {
                    <div class="modal-body">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                        <fieldset>
                            <label>Tên Thư Mục</label>
                            @Html.TextBoxFor(model => model.Fname, null, new { @class = "text ui-widget-content ui-corner-all" })
                            <label>Chú Thích</label>
                            @Html.TextBoxFor(model => model.ChuThich, null, new { @class = "text ui-widget-content ui-corner-all" })
                        </fieldset>

                    </div>
                    <div class="modal-footer">
                        <input id="btnSubmit" class="btn btn-default" type="submit" value="Submit" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    </div>
            }
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-default" id="create-folder" data-toggle="modal" data-target="#myModal">Tạo Thư Mục Mới</button> <br /><br /><br />




    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { @class = "upLoad", enctype = "multipart/form-data" }))
    {
        <img style="position:absolute; bottom:50px; right:50px " src="~/Content/images/button.png" class="imgUpload" onclick="OpenFiledialog()" />
        <input type="hidden" id="F_id" name="F_id"  value=@f_id />
        <input name="files" class="mainSubmit" type="file" style="display:none" onchange="UploadFile()" multiple />
    }

    <div style="width:100%"><span class="label label-default">Thư mục</span></div>
    <div class="row">
        @foreach (var item in folder)
        {
            <div class="col-sm-6 col-md-3" style="width:160px;">
                <div class="input-icon folder" data-folder="@item.AlbumID">
                    <i class="fa fa-file"></i>
                    <h3 style="padding-left:30px; overflow:hidden;" class="form-control">@item.TenAlbum</h3>
                </div>
            </div>
        }
    </div>

    <br /><br />
    <div style="width:100%"><span class="label label-default">Hình ảnh</span></div>
    <br />
    <div class="row">
        @foreach (var item in ViewBag.img)
        {
            <div class="col-sm-6 col-md-3" style="width:160px;">
                <img class="I-image" style="height:160px; width:126px; max-height:160px; max-width:126px; box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);" src="~/Photos/@item" />
            </div>
        }
    </div>

</div>