@model IMine.Models.FolderModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var f_id = ViewBag.F_id;
    var folder = ViewBag.folder as List<IMine.Models.Album>;
    var img = ViewBag.img as List<IMine.Models.HinhAnh>;
}

<head>

    <style>
        .imgUpload {
            max-height: 60px;
            max-width: 50px;
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);
            border-radius: 50%;
        }

            .imgUpload:active {
                opacity: 0.5;
                box-shadow: none;
            }

        .folder:hover {
            cursor: pointer;
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);
        }

        .I-image {
            -webkit-transition: margin 0.2s ease-out;
            -moz-transition: margin 0.2s ease-out;
            -o-transition: margin 0.2s ease-out;
        }

            .I-image:hover {
                cursor: pointer;
                opacity: 0.4;
            }
    </style>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@
    <!--Fancy Box-->

    <script src="~/Scripts/jquery-1.10.1.min.js"></script>
    <link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.fancybox.pack.js"></script>

    <link href="~/Content/jquery.fancybox-buttons.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.fancybox-buttons.js"></script>

    <script src="~/Scripts/jquery.fancybox-thumbs.js"></script>
    <link href="~/Content/jquery.fancybox-thumbs.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.fancybox-media.js"></script>




    <script>
        function myFunction() {
            $("#dialog-message").dialog("open");
        }

        $(document).ready(function () {

            $('.fancybox').fancybox({
                helpers: {
                    thumbs: {
                        width: 50,
                        height: 50,
                        source: function (current) {
                            console.log($(current.element).data('thumbnail'));
                            return $(current.element).data('thumbnail');
                        }
                    }
                }
            });

        });


        $(function () {

            $('.folder').click(function () {
                var fid = $(this).data('folder');
                $.ajax({
                    url: "/Folder/" + fid,
                    type: 'POST',
                    success: function () {
                        $('#F_load').load('@Url.Content("abc")');
                    }
                });
            });

        });

        $(function () {

            $('.onDelete').on("click", function () {

                $('.dis').attr('disabled', true);
                $('.onCancel').show();
                $('.onOK').show();
                $('.cBox').show();

            });

        });

        $(function () {

            $(".cBox").click(function () {
                var $checkbox = $(this).find(':checkbox');
                if ($checkbox.is(':checked')) {
                    $checkbox.prop("checked", false);
                }
                else {
                    $checkbox.prop("checked", true);
                }
            });

        });


        function unCheck() {
            var $checkbox = $('.cBox').find(':checkbox');
            if ($checkbox.is(':checked')) {
                $checkbox.prop("checked", false);
            }
        };
        
        $(function () {
            $('.onCancel').click(function () {
                $('.cBox').hide();
                $('.onOK').hide();
                $('.onCancel').hide();
                $('.dis').attr('disabled', false);
                unCheck();
            });
        });

        $(function () {

            $('.onOK').on("click",function () {
                var FolderValues = $('.cFolderValue:checked').map(function () {
                    return this.value;
                }).get();


                var ImgValues = $('.cImgValue:checked').map(function () {
                    return this.value;
                }).get();

                $.ajax({
                    url: "/delete",
                    data: { 'FolderValues': FolderValues, 'ImgValues': ImgValues},
                    type: "POST",
                    success: function () {
                        $('.cBox').hide();
                        $('.onOK').hide();
                        $('.onCancel').hide();
                        $('.dis').attr('disabled', false);
                        unCheck();
                        $('#F_load').load('@Url.Content("abc")');
                    }
                });


            });

        });

    </script>

</head>
<body>
    <div id="F_load">
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Thư mục mới</h4>
                    </div>

                    @using (Html.BeginForm("CreateFolder", "Home", FormMethod.Post))
            {
                        <div class="modal-body">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                            <fieldset>
                                <label>Tên Thư Mục</label>
                                @Html.TextBoxFor(model => model.Fname, null, new { @class = "text ui-widget-content ui-corner-all" })
                                <label>Chú Thích</label>
                                @Html.TextBoxFor(model => model.ChuThich, null, new { @class = "text ui-widget-content ui-corner-all" })                                
                                @Html.TextBoxFor(model => model.F_id, null, new { @class = "text ui-widget-content ui-corner-all", type ="hidden", @Value = f_id })
                                
                            </fieldset>

                        </div>
                        <div class="modal-footer">
                            <input id="btnSubmit" class="btn btn-default" type="submit" value="Submit" />
                            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                        </div>
                    }
                </div>
            </div>
        </div>


        @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { @class = "upLoad", enctype = "multipart/form-data" }))
        {
            <img style="position:absolute; bottom:50px; right:50px " src="~/Content/images/button.png" class="imgUpload dis" onclick="OpenFiledialog()" />
            if (f_id == null)
            {
                <input type="hidden" name="F_id" value= "0" />
            }
            else
            {
                <input type="hidden" name="F_id" value=@f_id />
            }
            <input name="files" class="mainSubmit" type="file" style="display:none" onchange="UploadFile()" multiple />
        }

        <div style="width:100%"><span class="label label-default">Thư mục</span></div>
        <div class="row">
            @foreach (var item in folder)
            {
                <div class="col-sm-6 col-md-3" style="width:160px;">
                    <div class="cBox" style="display:none; z-index:2; position: absolute; margin-top:18px; background-color:transparent; height:35px; width:130px; max-height:35px; max-width:130px;">
                        <span> <input type="checkbox" name="deleteImg" class="cFolderValue" value="@item.AlbumID" style=" width: 23px; height: 23px; bottom:6px; right:3px; position:absolute;" /> </span>
                    </div>

                    <div class="input-icon folder" id="@item.AlbumID" data-folder="@item.AlbumID">
                        <i class="fa fa-file"></i>
                        <h3 style="padding-left:30px; overflow:hidden;" class="form-control">@item.TenAlbum</h3>
                    </div>
                </div>

            }
        </div>

        <br /><br />
        <div style="width:100%"><span class="label label-default">Hình ảnh</span></div>
        <br />
        <div class="row">
            @foreach (var item in img)
            {
                <div class="col-sm-6 col-md-3" style="width:160px; margin-top:15px; ">
                    <div class="cBox" style=" display:none; z-index:2; position: absolute; background-color:transparent; height:160px; width:126px; max-height:160px; max-width:126px;">
                        <span> <input type="checkbox" name="deleteImg" class="cImgValue" value="@item.HinhID" style=" width: 23px; height: 23px; margin-left: -1px; margin-top: -1px; position:absolute;" /> </span>
                    </div>

                    <a class="fancybox" style="z-index:1;" data-thumbnail="/Photos/@item.TenHinh" href="/Photos/@item.TenHinh" data-fancybox-group="gallery" title="">
                        <img class="I-image" style="height:160px; width:126px; max-height:160px; max-width:126px; box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);" src="/Photos/@item.TenHinh" />
                    </a>
                </div>
                
            }
        </div>

    </div>
</body>